language: rust

sudo: required

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

env:
  global:
  - RUSTFLAGS="-C link-dead-code"

cache: cargo

addons:
  apt:
    update: true
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev
      - libiberty-dev
      - libgsl0-dev

before_script:
  - export PATH=$PATH:~/.cargo/bin
  - |
    if [[ "$TRAVIS_RUST_VERSION" == "nightly" ]]; then
        export FEATURES="--all-features";
    else
        export FEATURES="--features strict";
    fi
  - |
    if [[ "$TRAVIS_RUST_VERSION" == "nightly" ]] && cargo install clippy ; then
        export CLIPPY=true;
    else
        export CLIPPY=false;
    fi

script:
  - bash ./ci/script.sh

after_success:
  - bash ./ci/after_success.sh
